.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  font-size: 25px;
  font-weight: bolder;
}

.nasa-logo {
  margin: auto;
  height: 300px;
  width: 500px;
}
