@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Sofia+Sans:wght@200&display=swap');

.search-input {
    width: 200px;
    height: 50px;
    border-radius: 11px;
    font-size: 20px;
    padding: 0 10px;
    align-items: center;
}

.search-form {
  display: flex;
  flex-direction: row;
}

.submit-button {
  color: black;
  background-color: transparent;
  border-radius: 8px;
  width: 60px;
  font-size: 20px;
  font-family: 'Sofia Sans', sans-serif;
  font-weight: bold;
}