@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Sofia+Sans:wght@200&display=swap");

.search-input {
  width: 300px;
  height: 50px;
  border-radius: 11px;
  font-size: 25px;
  padding: 0 10px;
  background-color: rgb(50, 56, 75);
  opacity: 0.9;
  font-family: "Sofia Sans", sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: rgb(199, 180, 180) 1px 2px 2px;
}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 50px;
}

.submit-button {
  color: rgb(255, 255, 255);
  background-color: rgb(50, 56, 75);
  opacity: 0.9;
  border-radius: 8px;
  font-size: 25px;
  font-family: "Sofia Sans", sans-serif;
  font-weight: bold;
  text-shadow: rgb(199, 180, 180) 1px 1px 2px;
  padding: 10px;
}

/* Animations */
.submit-button:hover {
  color: rgb(23, 3, 41);
  background-color:rgb(204, 210, 214);
  opacity: 0.8;
  box-shadow: white;
}

/* Mobile device */
@media (max-width: 1200px) {
  .search-input {
    width: 250px;
    height: 50px;
  }
}