.search-results {
  margin-top: 50px;
  width: 80%;
  padding: 100px 100px;
  background-color: rgb(199, 205, 210);
  border-radius: 20px;
  display: grid;
  grid-template-rows: repeat(auto, 250px);
  grid-template-columns: repeat(4, 250px);
  gap: 1.5rem;
  justify-content: center;
}

.search-results img {
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

/* Animations */
.search-results__image {
  transition: transform .3s ease;
}

.search-results__image:hover {
  transform: scale(1.1);
}

/* Mobile device */
@media (max-width: 1200px) {
  .search-results {
    width: 60%;
    display: grid;
    grid-template-rows: repeat(auto, 350px);
    grid-template-columns: repeat(1, 450px);
    gap: 30px;
    justify-content: center;
  }

  .search-results img {
    height: 350px;
    width: 450px;
    border-radius: 10px;
  }
}